@model IEnumerable<PathfinderTracker.Models.Weapon>

<h1>Weapons</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="divSearchBoxContainer">
    <label>Search</label>
    <input type="text" id="txtSearchBox" />
    <a id="SearchLink" asp-action="Search" asp-controller="Weapon"></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Damage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeaponType.AttackRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeaponType.Critical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialAttributes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPValue)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeaponType.AttackRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeaponType.Critical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialAttributes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
