@model IEnumerable<PathfinderTracker.Models.Armor>

<h1>Armors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="divSearchBoxContainer">
    <label>Search</label>
    <input type="text" id="txtSearchBox" />
    <a id="SearchLink" asp-action="Search" asp-controller="Armor"></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArmorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmorCheckPenalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACBonus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialAttributes)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Material.Name) @Html.DisplayFor(modelItem => item.ArmorType.Name)
                    @if(item.ArmorAddon != null) {
                        <span> + </span>@Html.DisplayFor(modelItem => item.ArmorAddon.Name)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArmorCheckPenalty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACBonus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialAttributes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
