@model IEnumerable<PathfinderTracker.Models.ArmorType>

<h1>Armor Types</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACBonus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmorCheckPenalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmorCoreType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseGPValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACBonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmorCheckPenalty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmorCoreType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseGPValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
