@model IEnumerable<PathfinderTracker.Models.Campaign>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="divSearchBoxContainer">
    <label>Search</label>
    <input type="text" id="txtSearchBox" />
    <a id="SearchLink" asp-action="Search" asp-controller="Campaign"></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-action="Load" asp-route-id="@item.ID">Load Campaign</a>
            </td>
        </tr>
}
    </tbody>
</table>
